<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odoo"
    android:versionCode="12"
    android:versionName="2.1.5alpha" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.odoo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <!-- Android Account Authentication Service -->
        <service android:name=".auth.OdooAuthenticateService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:theme="@style/SettingActivity" >
        </activity>
        <activity
            android:name=".base.about.About"
            android:theme="@style/ProfileActivityTheme" >
        </activity>
        <activity
            android:name="com.odoo.base.account.UserProfile"
            android:theme="@style/ProfileActivityTheme" >
        </activity>
        <activity
            android:name="com.odoo.addons.mail.ComposeMail"
            android:icon="@drawable/ic_odoo_o"
            android:label="@string/title_mail_compose" >
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/label_odoo_mail" >
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/label_odoo_mail" >
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/label_odoo_mail" >
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/label_odoo_mail" >
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- Base Providers (Note: update authority as per your app package) -->
        <provider
            android:name="com.odoo.base.ir.providers.model.ModelProvider"
            android:authorities="com.odoo.mail.base.ir.providers.model"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.odoo.base.res.providers.users.UsersProvider"
            android:authorities="com.odoo.mail.base.res.providers.users"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.odoo.base.ir.providers.attachments.AttachmentProvider"
            android:authorities="com.odoo.mail.base.ir.providers.attachments"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.odoo.base.res.providers.country.CountryProvider"
            android:authorities="com.odoo.mail.base.res.providers.country"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.odoo.base.res.providers.company.CompanyProvider"
            android:authorities="com.odoo.mail.base.res.providers.company"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.odoo.base.res.providers.partners.PartnersProvider"
            android:authorities="com.odoo.mail.base.res.providers.partners"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.odoo.base.mail.provider.MailFollowerProvider"
            android:authorities="com.odoo.base.mail.provider.mailfollower"
            android:exported="false"
            android:multiprocess="true" />

        <!-- Mail Provider -->
        <provider
            android:name="com.odoo.addons.mail.providers.mail.MailProvider"
            android:authorities="com.odoo.addons.mail.providers.mail"
            android:enabled="true"
            android:exported="true"
            android:label="Messages"
            android:syncable="true" />

        <!-- Mail provider service -->
        <service
            android:name="com.odoo.addons.mail.services.MailSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_mail" />
        </service>
        <!-- Mail Group provider -->
        <provider
            android:name="com.odoo.addons.mail.providers.group.MailGroupProvider"
            android:authorities="com.odoo.addons.mail.providers.group"
            android:enabled="true"
            android:exported="true"
            android:label="Groups"
            android:syncable="true" />
        <provider
            android:name="com.odoo.addons.mail.providers.notification.MailNotificationProvider"
            android:authorities="com.odoo.addons.mail.providers.notification"
            android:multiprocess="true" />
        <!-- Mail Group provider service -->
        <service
            android:name="com.odoo.addons.mail.services.MailGroupSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_mailgroup" />
        </service>
        <!-- Mail Widget -->
        <receiver
            android:name="com.odoo.addons.mail.widgets.MailWidget"
            android:label="Odoo Messaging" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mail" />
        </receiver>
        <!-- Mail widget remote view service -->
        <service
            android:name="com.odoo.addons.mail.widgets.MailRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Mail widget configuration -->
        <activity
            android:name="com.odoo.addons.mail.widgets.MailWidgetConfigure"
            android:icon="@drawable/ic_odoo_o_purple"
            android:theme="@style/SettingActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>